$mainBkg: rgb(246, 249, 252);
$secondBkg: #cdffb2;
$lineColor: #1a3318;
$lineColor: green;
$border1: transparent;
$border2: #6eaa49;
$arrowheadColor: green;

/* Flowchart variables */

$nodeBkg: $mainBkg;
$nodeBorder: $border1;
$clusterBkg: $secondBkg;
$clusterBorder: $border2;
$defaultLinkColor: $lineColor;
$titleColor: #333;
$edgeLabelBackground: #e8e8e8;

/* Sequence Diagram variables */

$actorBorder: $border1;
$actorBkg: $mainBkg;
$actorTextColor: #6B7C93;
$actorLineColor: grey;
$signalColor: #6B7C93;
$signalTextColor: #6772E5;
$labelBoxBkgColor: $actorBkg;
$labelBoxBorderColor: #6B7C93;
$labelTextColor: $actorTextColor;
$noteBorderColor: transparent;
$noteBkgColor: #ECFAFF;
$noteTextFontFamily: 'CamphorPro-Bold, Camphor Pro', verdana, arial;

/* Gantt chart variables */

$sectionBkgColor: #6eaa49;
$altSectionBkgColor: white;
$sectionBkgColor2: #6eaa49;
$taskBorderColor: $border1;
$taskBkgColor: #487e3a;
$taskTextLightColor: white;
$taskTextColor: $taskTextLightColor;
$taskTextDarkColor: black;
$taskTextOutsideColor: $taskTextDarkColor;
$activeTaskBorderColor: $taskBorderColor;
$activeTaskBkgColor: $mainBkg;
$gridColor: lightgrey;
$doneTaskBkgColor: lightgrey;
$doneTaskBorderColor: grey;
$critBorderColor: #ff8888;
$critBkgColor: red;
$todayLineColor: red;

text {
    font-family: CamphorPro-Light, Camphor Pro;
}
text.actor {
    font-weight: bold;
}
@import '../mermaid';
